# docker-compose environment file
#
# When you set the same environment variable in multiple files,
# here’s the priority used by Compose to choose which value to use:
#
#  1. Compose file
#  2. Shell environment variables
#  3. Environment file
#  4. Dockerfile
#  5. Variable is not defined

# Wordpress Settings
export WORDPRESS_LOCAL_HOME=./wordpress
export WORDPRESS_LOCAL_PLUGINS=./wordpress/wp-content/plugins/
export WORDPRESS_LOCAL_THEMES=./wordpress/wp-content/themes/
export WORDPRESS_UPLOADS_CONFIG=./config/uploads.ini
export WORDPRESS_DB_HOST=database:3306
export WORDPRESS_DB_NAME=wordpress
export WORDPRESS_DB_USER=wordpress
export WORDPRESS_DB_PASSWORD=password123!
# The variable WORDPRESS_REDIS_PREFIX and WORDPRESS_REDIS_CACHE_KEY_SALT to have same value. Simply put in the domain name as value or random string.
export WORDPRESS_REDIS_PREFIX=DOMAINNAME
export WORDPRESS_REDIS_CACHE_KEY_SALT=DOMAINNAME

# Wordpress CLI Settings
export WORDPRESSCLI_UID=0
export WORDPRESSCLI_GUID=0

# MySQL/MariaDB Settings
# export MYSQL_LOCAL_HOME=./dbdata # For MySQL image
export MYSQL_DATABASE=${WORDPRESS_DB_NAME}
export MYSQL_USER=${WORDPRESS_DB_USER}
export MYSQL_PASSWORD=${WORDPRESS_DB_PASSWORD}
export MYSQL_ROOT_PASSWORD=rootpassword123!

# Redis Settings
export REDIS_PORT=6379
export REDIS_DATA=./redis/data
export REDIS_PASSWORD=password123!

# Nginx Settings
export NGINX_CONF=./nginx/default.conf
export NGINX_SSL_CERTS=./ssl
export NGINX_LOGS=./logs/nginx

# phpMyAdmin Settings
export PHPMYADMIN_HOST=database
export PHPMYADMIN_PORT=3306
export PHPMYADMIN_ARBITRARY=0
export PHPMYADMIN_NO_PASSWORD=false
export PHPMYADMIN_ARBITRARY_MARIADB=false

# FileBrowser Settings
export FILEBROWSER_CONFIG=./filebrowser
export FILEBROWSER_UID=0
export FILEBROWSER_GUID=0

